.nav {
width:20px
/* background-color: chartreuse; */;

}
ol h1 {

 background-color:brown;



}.form{
text-align: center;
margin: 20px;
padding: 25px;
justify-content:space-between;
color: #ffffff;


}  
